/* Setze box-sizeing: border-box global */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }
  *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

/* Margin und Padding default 0 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* Globale Font settings */
html {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fff; }

#huenerhof {
  border: 1px solid black;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
