// Farb variabeln aus anderem File importieren
@import colors

/* Setze box-sizeing: border-box global */
html
  box-sizing: border-box

*
  box-sizing: inherit

  &::before,
  &::after
    box-sizing: inherit


/* Margin und Padding default 0 */
html,
body
  margin: 0
  padding: 0
  height: 100vh
  width: 100vw
  display: flex
  justify-content: center
  align-items: center

/* Globale Font settings */
html
  font-family: 'Arial', sans-serif
  font-size: 16px
  color: $black
  background-color: $white

#huenerhof
  border: 1px solid black
  flex: 0 0 auto

